
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    
    <div class="navbar-nav row">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img
            width="40"
            alt="ESS Logo"
            src="assets/img/esslogo.png"
        /></a>
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" *ngIf="user" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" routerLink="/models" routerLinkActive="active">Models</a>
        <a class="nav-item nav-link" routerLink="/modelparameters" routerLinkActive="active">ModelParameters</a>
    </div>
    <div class="navbar-nav ml-auto">
        <div class="spacer"></div>
        <a class="nav-item nav-link" (click)="logout()"><i class="fa fa-lock fa-2x"></i></a>
    </div>    
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- footer -->
<div class="footer text-left mt-4">
    <p>
        <a href="/" target="_top">&copy; copyrights 2020</a> | <a href="/" target="_top">ESS demo</a>
    </p>
   
</div>